*{
  --pro-colorvar:#ea580c;
}
a:focus, .button:focus,.button-primary:focus {
      box-shadow: none;  
}

/***** Started theme css **/

.toplevel_page_themehunk-plugins #wpbody {
    position: relative;
    background: #f8fafc;
}
.toplevel_page_themehunk-plugins #wpcontent{
padding:0 !important;
}

.th-market-container {
    padding: 20px 35px;
}
.notice {
  display: none;
}

.about-wrap-th {
  position: relative;
  font-size: 15px;
  line-height: 20px;
}


.th-option-area {
    display: flex;
    background: #ffffff;
    border: 1px solid #f1f5f9;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    justify-content: space-between;
    border-radius: 0.75rem;
}


.th-heade {
  box-sizing: border-box;
}
.thunk-notice-text {
    width: 30%;
}

.th-head-2.featured {
    display: flex;
     flex-wrap: wrap;
    background: #1e293b;
    padding: 20px;
    margin: 1.4rem 0;
    border-radius: 10px;
    justify-content: space-between;
    color: #fff;

    box-shadow: 
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.th-noticetheme a img{
max-width: 100%;
    transform: translate(0,0) rotate(0deg) scale(1);
    transition: transform 0.3s ease;
}

.th-noticetheme img:hover {
    transform: translate(0,0) rotate(1deg) scale(1);
}

.thunk-notice-text h3 {
    font-size: 1.8rem;
    color: #ffffff;
    margin: 1rem 0;
    line-height: 2rem;
}

.thunk-notice-text p {
    font-size: 1rem;
    /* line-height: 1.5rem; */
    color: #cbd5e1;
    margin-bottom: 15px;

}

.thunk-notice-text .new-featured .new-featured-text {
    color: #cbd5e1;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0 5px;
}

.thunk-notice-text .new-featured .new-featured-btn {
    font-size: 10px;
    background-color: #ec4899;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-radius: 0.25rem;
    font-weight: 700;
    padding: 0.125rem 0.3rem;
}


.featured.th-head-2 a.button {
    font-weight: 600 !important;
    font-size: 0.8rem !important;
    line-height: 1.2rem !important;
    padding: 0.4rem 1.2rem !important;
    color: #0f172a !important;
    border-radius: 0.5rem !important;
    display: inline-flex;
}

.featured.th-head-2 a.button svg{
    width:1rem;
    height:1rem;
    margin-left: 5px;
    margin-top: 3px;
}
.th-option-heading h3, .th-option-heading p {
    margin: 0;
    padding: 0;
}

.th-option-heading h3 {
    font-weight: 700;
    font-size: 18px;
}

.th-option-heading p {
    font-size: 12px;
    color: #64748b;
}
.col-1 {
  width: 14%;
}

.th-option-top-hdr,
.th-option-bottom-hdr {
   display: flex;
    align-items: center;
}
.th-option-top-hdr .col-2 {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.th-option-heading h2 {
  font-size: 21px;
  font-weight: bold;
  line-height: 18px;
}
.th-option-heading {
  margin-right: 100px;
}
.th-option-heading + span {
  display: block;
  font-weight: bold;
  font-size: 20px;
  position: relative;
}
.th-option-area .version:after {
  border: 1px solid #999;
  content: " ";
  margin: 0 9px;
}
.th-option-area .version + span {
  color: #f98a17;
  font-weight: 700;
}
.th-option-bottom-hdr .tablinks {
  padding: 20px;
  color: #111;
  font-weight: bold;
}
.th-option-bottom-hdr .count {
  align-items: center;
  background: #008000;
  border-radius: 100%;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  margin-left: 9px;
  width: 25px;
  height: 25px;
  line-height: 25px;
}
.th-option-area .logo-img a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.th-option-area .logo-img {
  display: block;
  text-align: center;
  padding: 10% 5%;
  font-size: 10px;
  line-height: 24px;
}

.th-option-area .logo-img img {
  width:50%
}

.th-option-area .logo-image {
  width: 100%;
  display: block;
}

.th-option-bottom-hdr .tablinks {
  padding: 20px;
  color: #111;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  display: none;
}

.toplevel_page_themehunk-plugins {
  background: #fff;
}

.toplevel_page_themehunk-plugins .rcp.theme_link{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.toplevel_page_themehunk-plugins .theme_link a.ztabtn.button,
.ztabtn {
  color: #ffffff !important;
    border-color: #ea580c !important;
    background: #ea580c !important;
    border-radius: 6px !important;
    font-weight: 600;
    font-size: 0.875rem !important;
}

.toplevel_page_themehunk-plugins .th-market-section,.toplevel_page_themehunk-plugins .th-plugin-footer {
padding:1rem 1.25rem;
}

.toplevel_page_themehunk-plugins .theme_link {
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0px 0px 9px 0px #EDEDED;
    border-radius: 0.75rem;
    box-shadow: 0px 0px 10px 0px #d0eaf5;
    flex: 1 0 23%;
    box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 1px 2px rgba(0, 0, 0, 0.15);
}



.toplevel_page_themehunk-plugins .th-plugin-footer {
    background-color: #f8fafc80;
    border-top: 1px solid #f1f5f9;
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
 
}

  .th-option-area {
    box-shadow: 0px 0px 9px 0px #ededed;
    border-radius: 5px;
    padding: 10px;
  }
  
.toplevel_page_themehunk-plugins .theme_link:nth-child(4),
.toplevel_page_themehunk-plugins .theme_link:nth-child(2) {
  margin-right: 0%;
}

/** tab desing **/

.tab-heading-wrap {
    display: flex;
    justify-content: space-between;
}

.th-row .th-column.Free, .th-row .th-column.Pro {
    display: flex;
    justify-content: space-between;
}

.title-plugin h4 {
  font-size: 14px;
  margin: 15px 0;
}
.plugin-link {
     padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.setting-link {
  display: none;
}

.plugin-link a.plugin-detail, 
.plugin-link .setting-link1, 
.plugin-link .setting-link {
    text-decoration: none;
    font-size: 0.75rem;
    color: #64748b;
    font-weight: 500;
}
.plugin-link a.plugin-detail:hover, 
.plugin-link .setting-link1:hover,.plugin-link .setting-link:hover{
  text-decoration:underline;
}


.plugin-link .setting-link1, .plugin-link .setting-link1 {

   margin-right: calc(0.5rem * 0);
    margin-left: calc(0.5rem * calc(1 - 0));
}
.rp-two-column {
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
    justify-content: space-between;
}

.rp-two-column.welcome-tabs {
  flex-direction: column;
  height: 900px;
  justify-content: flex-start;
}
.main .tab-left {
   flex: 1 1 0%;
}

.th-column.Free,
.th-column.Pro {
  flex: 40%;
}

.th-column.two {
  flex: 55%;
}

.about-wrap .header {
  margin-bottom: 35px;
}

.toplevel_page_themehunk-plugins .main {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

/* Create an active/current tablink class */
.th-option-bottom-hdr .tablinks.active {
  color: #228add;
}

/* Style the tab content */
.tabcontent.active {
  display: block;
}
.theme_link p {
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
}

.sidebar-wrap {
    width: 22rem;
    flex-shrink: 0;
}
.sidebar-section p {
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
    color: #cbd5e1;
}

.section.premium-plugin-sidebar {
    background-image: linear-gradient(to bottom right, #0f172a, #0f172a);
    padding: 1.5rem;
    border-radius: 0.75rem;
    color: #fff;
}

.section-item > :not([hidden]) ~ :not([hidden]) {
    border-top-width: calc(1px * calc(1 - 0));
    border-bottom-width: calc(1px * 0);
    border-color: rgb(248 250 252 / 1);
    border-top-style: solid;
}

.sidebar-section .section-item{
       box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border-radius: 0.75rem;
    background-color: #ffffff;
    border: 1px solid #f1f5f9;
}

.wrap-item:hover{
    background-color: #f8fafc;
}
.wrap-item:hover .group-hover\:text-brand-600{
color: #0284c7;

}

.section.premium-plugin-sidebar h3.hndle.ui-sortable-handle {
    color: #f3f2f2;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.75rem;
    margin: 0;
}
.section.premium-plugin-sidebar h3.hndle svg{
    color: var(--pro-colorvar);
} 
.sidebar-section .wrap-item{
    padding: 1rem;
    cursor: pointer;
} 

.sidebar-section .wrap-item h4{
  color: #334155;
    font-size: 0.8rem;
    line-height: 1.25rem;
    margin: 0;
    margin-right: calc(0.75rem * 0);
    margin-left: calc(0.75rem * calc(1 - 0));
}

.sidebar-section .wrap-item .wrap-heading{
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;
    text-decoration: none;
}
.sidebar-section .wrap-item svg{
    color: #94a3b8;
    width: 1rem;
    height: 1rem;
}

.sidebar-section .wrap-item p{
  color: #64748b;
  font-size: 0.75rem;
  line-height: 1rem;
  margin: 0;
  margin-right: calc(0.75rem * 0);
  margin-left: calc(1.6rem * calc(1 - 0));
}

.tabs-list a {
  display: inline-block;
  padding: 20px;
  color: #111;
  text-decoration: none;
  font-size: 15px;
}
.tabs-list a {
  background: #eaeaea;
}
.tabs-list a.active {
  background: #fff;
}

.th-column img {
    width: 40px;
    border: 1px solid #e1e1e1;
    background: #f9f8ff;
    border-radius: 6px;
    padding: 0.1rem;
    box-shadow: 0 20px 25px -5px rgb(213 213 213 / 10%), 0 8px 10px -6px rgb(157 154 154 / 18%);
}

.facebook-gropup {
  display: flex;
  align-items: center;
  background-color: #3b5998;
  padding: 9px 9px 9px 14px;
  margin: 20px 0 0 !important;
  color: #fff;
  line-height: normal;
  text-decoration: none;
  box-shadow: 0 0 0 0 #3b5998;
  transition: 0.3s ease;
  border-radius: 2px;
  width: 55%;
}
.facebook-gropup:hover {
  color: #fff;
}

/*table conent css*/
b.th-Free,b.th-Pro {
  padding: 0.125rem 0.5rem;
    border-radius: 14px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
}

b.th-Free {
    background-color: #ecfdf5;
    color: #059669;
    border: 1px solid #d1fae5;
}
b.th-Pro {
    background-color: #fff7ed;
    color: var(--pro-colorvar);
    border: 1px solid #ffedd5;
}

.th-buy-pro {
  background: #e5e5e5;
}

.upgrade-to-pro.button{
    border:0;
    border-radius: 4rem;
      padding:0.2rem 0.2rem !important;
       line-height: .5rem;
      color: var(--pro-colorvar) !important;
      background-color: rgba(255,255,255,0) !important;
      float: right;
}

.activate-now.button-primary{
   background: #0284c7;
    border-color: #0284c7; 
} 

button.button.disabled,
.activate-now.button-primary{
    border-radius: 0.4rem;
    font-weight: 600;
    font-size: 0.7rem !important;
    line-height: 1rem;
    padding: 0.4rem .6rem !important;

}
button.button.button.disabled{
     color: #64748b !important;
    background-color: #e2e8f0 !important;
    cursor: not-allowed;
  }
.th-dashboard .content.free-pro {
  width: 100%;
  box-shadow: 0px 0px 10px 0px #d0eaf5;
}
.th-dashboard .content.free-pro .table {
  width: 800px;
  padding: 0;
  display: table;
  border-collapse: collapse;
}
.th-dashboard .content.free-pro .table .table-head {
  background-color: #fbfbfb;
}
.th-dashboard .content.free-pro .table .table-head th {
  padding: 25px 25px;
  font-size: 15px;
  vertical-align: middle;
}
.th-dashboard .content.free-pro .table tr {
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
}
.th-dashboard .content.free-pro .table .status {
  text-align: center;
  vertical-align: middle;
  align-items: center;
}
.th-dashboard .content.free-pro .table .status svg {
  margin: 0 auto;
  max-width: 30px;
  display: block;
}
.th-dashboard .content.free-pro .table .status.success {
  color: #6eb77a;
}
.th-dashboard .content.free-pro .table .status.error {
  color: #ec7c7c;
}

.th-dashboard .content.free-pro .table span.info {
  display: block;
  color: #3c434a;
}

.th-dashboard .content.free-pro .table td {
  padding: 15px 10px;
}
.th-dashboard .content.free-pro .table .title {
  height: 100%;
  font-size: 14px;
  font-weight: 800;
  position: relative;
}
.th-dashboard .content.free-pro .table .title .title-wrap {
  display: flex;
  align-items: center;
}
.th-dashboard .content.free-pro .table .title h4 {
  margin: 0;
}
.th-dashboard
  .content.free-pro
  .table
  .title
  span:not(.components-visually-hidden) {
  display: flex;
  align-items: center;
  line-height: 1;
  padding: 0 0 0 10px;
  align-items: center;
  color: #e1e1e1;
  cursor: pointer;
}
.th-dashboard
  .content.free-pro
  .table
  .title
  span:not(.components-visually-hidden):hover {
  color: #0073aa;
}
.th-dashboard .content.free-pro .feature-row {
  position: relative;
  border-top: 1px solid #e1e1e1;
}
.th-dashboard .content.free-pro .tooltip-content {
  cursor: default;
  position: absolute;
  left: 0;
  bottom: 90%;
}
.th-dashboard .content.free-pro .tooltip-content .tooltip-inner {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  padding: 20px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
  width: 340px;
  box-sizing: border-box;
  position: relative;
}
.th-dashboard .content.free-pro .tooltip-content .tooltip-inner:before {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid #e1e1e1;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  background-color: #fff;
  bottom: -9px;
}

.th-dashboard .content.free-pro .tooltip-content p {
  font-weight: 400;
  margin: 0;
}
.th-dashboard .content.free-pro .upsell {
  padding: 0 0 0 10px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.th-dashboard .content.free-pro .upsell p {
  font-size: 15px;
  color: #616161;
}
.th-dashboard .content.free-pro .upsell a {
  padding: 10px 20px;
  height: auto;
  font-size: 15px;
}
.toplevel_page_themehunk-plugins #Import-Demo-Content .theme_link.import-demo {
  width: 100%;
}
.import-image {
  margin-right: 45px;
}

.toplevel_page_themehunk-plugins .theme_link.child-theme {
  width: 100%;
}
.child-image {
  float: left;
  margin-right: 25px;
}
.theme_link.child-theme a {
  background: #2271b1;
  color: #fff;
}
.get-child {
  position: relative;
}
.get-child:after {
  content: " New";
  background: #ff2121;
  color: #fff;
  padding: 2px 7px;
  margin-top: -27px;
  position: absolute;
  text-align: center;
  border-radius: 4px;
  font-size: 12px;
  top: 29px;
  right: 0;
}
.wp-core-ui .child-theme-notice a.button {
  margin-bottom: 9px;
}
.child-theme-notice {
  margin-right: 39px;
}

/** responsive style **/

/* mobile: 1 column */
.th-head-2.featured div,.rp-two-column .th-row {
  flex: 0 0 100%;
}

.rp-two-column .th-row:hover{
  transition-duration: 300ms;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);

}

.rp-two-column .th-row:hover .group-hover\:scale-110{
      transition-duration: 300ms;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transform: scale(1.1);
}


/* tablet / iPad: 3 columns */
@media (min-width: 768px) {
   .rp-two-column .th-row {
    flex: 0 0 calc(100% / 2 - 16px / 2);
  }

.th-head-2.featured div{
  flex: 0 0 50%;
}
    .theme_link {
    width: 29%;
  }

}

/* desktop: 3 columns */
@media (min-width: 1024px) {
    .rp-two-column .th-row{
    flex: 0 0 calc(100% / 3 - 16px * 2 / 3);
  }

   .th-head-2.featured div{
       flex: inherit;
  }
}

/* desktop: 4 columns */
@media (min-width: 1340px) {
    .rp-two-column .th-row{
    flex: 0 0 calc(100% / 4 - 16px * 3 / 4);
  }

}

@media screen and (max-width: 782px) {
  .theme_link{
    width: 100%;
  }
  .toplevel_page_themehunk-plugins .main {
        flex-direction: column; /* mobile = 1 column */
    }
    .sidebar-wrap {
    width: inherit;
    flex-shrink: 0;
}

}

.notice.notice-success.is-dismissible.th-theme-notice {
  display: none;
}
